table {
  width: 100%;
  margin-top: 10px;
}
  
th {
 width: 20%;
}


.alineacion {
 text-align: right;
}


.pointer {
  cursor: pointer;
}
  

.icono-1 {
 color: #1878b0;
}


.icono-2 {
 color: #1f516f;
}


.icono-3 {
 color: #e15639;
}


.mat-form-field {
 font-size: 14px;
 width: 100%;
}


  
  

